/* Style the headers */
.accordion > .titled-pane > .title {
    -fx-background-color: transparent;
}

/* Style the content */
.accordion > .titled-pane > .content {
    -fx-padding: 10px;
}

.property-name {
    -fx-font-size: 12pt;
    -fx-text-fill: gray;
}

.property-name-no-color {
    -fx-font-size: 12pt;
}

.property-value {
    -fx-font-size: 10pt;
    -fx-text-fill: black;
}

.datefield-editor {
    -fx-display-caret: false;
}

.datefield-editor:disabled {
    -fx-background-color: white;
    -fx-opacity: 1.0;
    -fx-text-fill: black;
}

.info-message {
    -fx-font-size: 12pt;
}
